@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bayon&family=Big+Shoulders+Display:wght@100..900&family=Chango&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=League+Spartan:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bayon&family=Big+Shoulders+Display:wght@100..900&family=Chango&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=League+Spartan:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bayon&family=Big+Shoulders+Display:wght@100..900&family=Chango&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=League+Spartan:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--font-family-red: "Red Hat Text", serif;
	--font-family-dm: "DM Serif Display", serif;

	--color-primary-dark-pink: #ba4270;
	--color-primary-link-water-white: #fbfcfe;
	--color-backrgound-body: #edf3f8;
	--color-secondary-suan-juan-blue: #36536b;
	--color-secondary-mirage-blue: #1b262f;
	--color-secondary-charm-pink: #da6d97;
	--color-secondary-light-suan-blue: #6c8294;
	--color-rond-header: #d2dbe3;

	--typography-body-text-size: 15px;
	--typography-body-line-size: 28px;

	--typography-headings-h1-large-text-size: 72px;
	--typography-headings-h1-large-line-size: 72px;

	--typography-headings-h1-small-text-size: 56px;
	--typography-headings-h1-small-line-size: 56px;

	--typography-headings-h2-text-size: 48px;
	--typography-headings-h2-line-size: 56px;

	--typography-headings-h3-big-text-size: 32px;
	--typography-headings-h3-big-line-size: 40px;

	--typography-headings-h3-small-line-size: 18px;
	--typography-headings-h3-small-line-size: 25px;

	--typography-headings-h4-text-size: 24px;
	--typography-headings-h4-line-size: 32px;
}

body {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.page-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
	width: 90%;
}

input {
	border: none;
	border-bottom: 1px var(--color-secondary-suan-juan-blue) solid;
	background-color: transparent;
	text-align: start;
	color: var(--color-secondary-suan-juan-blue);
	font-family: var(--font-family-red);
}

h1 {
	width: 100%;
	font-size: 45px;
	text-align: center;
	color: var(--color-secondary-suan-juan-blue);
}

.input-contact {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

input:invalid {
	color: red;
}

input::after {
	background-color: var(--color-secondary-suan-juan-blue);
}

.checkbox {
	display: flex;
	flex-direction: row;
	gap: 20px;
	width: 90%;
}

.checkbox p {
	font-family: var(--font-family-red);
	color: var(--color-secondary-suan-juan-blue);
	font-weight: 550;
	font-size: 15px;
}

.input-contact input {
	padding: 20px;
}

.checkbox input {
	font-family: var(--font-family-red);
}

textarea {
	background-color: transparent;
	padding: 20px;
	border: none;
	border-bottom: 1px solid var(--color-secondary-suan-juan-blue);
}
textarea::after {
	background-color: var(--color-secondary-suan-juan-blue);
}

.input-contact button {
	width: 40%;
	border: 1px solid var(--color-secondary-suan-juan-blue);
	padding: 10px;
	color: var(--color-secondary-suan-juan-blue);
	border-radius: 999px;
	font-family: var(--font-family-red);
	font-weight: 550;
	background-color: transparent;
}

.box {
	background-color: var(--color-secondary-suan-juan-blue);
}

input[type="checkbox"] {
	accent-color: var(--color-primary-dark-pink);
	width: 7%;
	background-color: var(--color-secondary-suan-juan-blue);
	filter: var(--color-secondary-suan-juan-blue);
}

.end-partenaria h2 {
	text-align: center;
	color: var(--color-secondary-suan-juan-blue);
	font-weight: 400;
}

.end-partenaria {
	gap: 50px;
	display: flex;
	flex-direction: column;
}

.partenaria {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 20px;
	justify-items: center;
}

@media screen and (min-width: 768px) {
	.end-partenaria {
		width: 75%;
	}

	.input-contact {
		width: 75%;
	}
}

@media screen and (min-width: 1024px) {
	.page-contact {
		display: flex;
		flex-direction: row;
	}

	.input-contact {
		display: flex;
		flex-direction: column;
	}

	.end-partenaria h2 {
		text-align: start;
		width: 75%;
	}

	.end-partenaria {
		display: flex;
		align-items: start;
	}

	.partenaria {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 50px;
	}
	.checkbox {
		width: 70%;
	}
}
