:root {
	--font-family-red: "Red Hat Text", serif;
	--font-family-dm: "DM Serif Display", serif;

	--color-primary-dark-pink: #ba4270;
	--color-primary-link-water-white: #fbfcfe;
	--color-backrgound-body: #edf3f8;
	--color-secondary-suan-juan-blue: #36536b;
	--color-secondary-mirage-blue: #1b262f;
	--color-secondary-charm-pink: #da6d97;
	--color-secondary-light-suan-blue: #6c8294;
	--color-rond-header: #d2dbe3;

	--typography-body-text-size: 15px;
	--typography-body-line-size: 28px;

	--typography-headings-h1-large-text-size: 72px;
	--typography-headings-h1-large-line-size: 72px;

	--typography-headings-h1-small-text-size: 56px;
	--typography-headings-h1-small-line-size: 56px;

	--typography-headings-h2-text-size: 48px;
	--typography-headings-h2-line-size: 56px;

	--typography-headings-h3-big-text-size: 32px;
	--typography-headings-h3-big-line-size: 40px;

	--typography-headings-h3-small-line-size: 18px;
	--typography-headings-h3-small-line-size: 25px;

	--typography-headings-h4-text-size: 24px;
	--typography-headings-h4-line-size: 32px;
}

main {
	color: var(--color-secondary-suan-juan-blue);
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 40px;
}

.border-rond {
	position: absolute;
	background-color: var(--color-rond-header);
	border-radius: 0px 0px 80% 80%;
	width: 100%;
	height: 60%;
	top: -25%;
	left: 0%;
	z-index: -1;
}

.section-hero-home {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 10px;
}

.hero {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 65%;
	gap: 10px;
}

.image-iphone {
	width: 40%;
}

.info-hero h1 {
	font-family: var(--font-family-red);
	color: var(--color-secondary-suan-juan-blue);
	font-weight: 600;
	text-align: center;
	line-height: var(--typography-headings-h3-big-line-size);
	font-size: var(--typography-headings-h2-text-size);
	gap: 10px;
}

.input-hero {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.input-hero a {
	width: 100%;
	padding: 10px;
	color: var(--color-primary-link-water-white);
}

.contact-hero a {
	text-decoration: none;
	color: var(--color-secondary-mirage-blue);
	font-family: var(--font-family-red);
}

.question-hero {
	font-family: var(--font-family-red);
}

.contact-us {
	font-weight: bold;
}

.article-partenaire {
	background-color: #1b262f;
	display: flex;
	padding: 20px;
	flex-direction: column;
	justify-content: center;
	gap: 60px;
	height: 100vh;
}

.right-box-partenaire {
	width: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 20px;
	padding: 20px;
	margin-top: 50px;
}

.left-box-partenaire {
	color: var(--color-primary-link-water-white);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 30px;
}

.partenaire-text {
	gap: 40px;
}

.partenaire-text h2 {
	font-family: "DM Serif Display", serif;
	font-size: 36px;
	color: #fbfcfe;
	font-weight: 400;
}

.left-box-partenaire p {
	color: #fbfcfe;
	opacity: 70%;
	font-weight: 400;
	font-size: var(--typography-body-text-size);
	font-family: var(--font-family-red);
}

.solution-home {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.images-solutions {
	display: flex;
	flex-direction: row;
	width: 50%;
}

.solution-text {
	gap: 20px;
	display: flex;
	flex-direction: column;
}

.solution-text h3 {
	text-align: center;
	font-family: var(--font-family-dm);
	font-size: 36px;
	color: var(--color-secondary-suan-juan-blue);
}

.solution-home p {
	color: var(--color-secondary-light-suan-blue);
	text-align: center;
	font-family: var(--font-family-red);
	font-size: 16px;
}

.code-solution {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.phone-solution {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.finance-home {
	gap: 30px;
	display: flex;
	flex-direction: column;
}

.finance {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 25px;
}

.finance img {
	width: 106px;
}

.finance h3 {
	font-family: var(--font-family-red);
	font-size: 18px;
	color: var(--color-secondary-suan-juan-blue);
}

.finance p {
	text-align: center;
	font-family: var(--font-family-red);
	color: var(--color-secondary-light-suan-blue);
	font-size: 16px;
}

.deskop {
	gap: 30px;
	display: flex;
	flex-direction: column;
}

.demo-home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 767px) {
	.image-iphone {
		width: 20%;
	}

	.input-hero a {
		position: absolute;
		width: 100%;
		padding: 1px;
		right: 0px;
		margin-bottom: 45px;
	}

	.input-hero {
		display: flex;
		justify-content: center;
	}

	.hero h1 {
		width: 90%;
		font-size: 38px;
	}

	.hero {
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 0;
		padding: 0;
	}

	.hero {
		font-size: 18px;
	}

	.btn-hero {
		box-shadow: 0px 7px 8px 0px#36536b40;
		width: 70%;
		display: flex;
		align-items: center;
		text-align: left;
	}

	.contact-hero {
		margin-top: 20px;
	}

	.left-box-partenaire p {
		margin: auto;
		text-align: center;
		width: 75%;
	}

	.right-box-partenaire {
		margin: auto;
		width: 75%;
	}

	.partenaire-text h2 {
		font-size: var(--typography-headings-h2-text-size);
	}

	.solution-text h3 {
		font-size: 48px;
	}

	.finance-home {
		display: flex;
		flex-direction: row;
		margin-top: 70px;
	}

	.finance {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (min-width: 1023px) {
	.section-hero-home {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		width: 100%;
	}

	.image-iphone {
		width: 20%;
	}

	.hero h1 {
		font-size: var(--typography-headings-h1-large-text-size);
	}

	.hero {
		width: 50%;
		align-items: start;
		text-align: left;
	}
	.contact-hero {
		text-align: left;
		display: flex;
		align-items: start;
		width: 80%;
	}
	.input-hero {
		width: 95%;
		right: 90px;
	}
	.border-rond {
		position: absolute;
		background-color: var(--color-rond-header);
		border-radius: 80% 80% 80% 80%;
		width: 50%;
		height: 80%;
		top: -15%;
		right: 0px;
		z-index: -1;
	}

	.article-partenaire {
		display: flex;
		flex-direction: row-reverse;
		width: 100%;
	}

	.partenaire-text {
		width: 75%;
	}

	.left-box-partenaire {
		width: 82%;
		text-align: start;
	}

	.left-box-partenaire h2 {
		width: 100%;
	}

	.parent-bouton {
		text-align: center;
		width: 82%;
		display: flex;
	}

	.left-box-partenaire p {
		text-align: start;
		width: 100%;
	}
	.btn-about-partenaire {
		width: 100%;
		padding: 10px;
	}

	.right-box-partenaire {
		display: grid;
		grid-template-columns: 3fr 3fr 3fr;
		grid-template-rows: 1fr 1fr;
	}

	.code-solution {
		display: flex;
		flex-direction: row;
	}

	.phone-solution {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}

	.images-solutions img {
		width: 60%;
	}

	.code-solution img {
		width: 50%;
	}

	.solution-text {
		text-align: start;
	}

	.solution-text P {
		text-align: start;
	}
	.solution-text h3 {
		text-align: start;
	}
	.finance-home {
		display: flex;
		flex-direction: row;
		margin-top: 70px;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.finance {
		display: flex;
		width: 100%;
		flex-direction: column;
	}

	.deskop {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 70%;
	}
}
