@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bayon&family=Big+Shoulders+Display:wght@100..900&family=Chango&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=League+Spartan:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bayon&family=Big+Shoulders+Display:wght@100..900&family=Chango&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=League+Spartan:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

:root {
	--font-family-red: "Red Hat Text", serif;
	--font-family-dm: "DM Serif Display", serif;

	--color-primary-dark-pink: #ba4270;
	--color-primary-link-water-white: #fbfcfe;
	--color-backrgound-body: #edf3f8;
	--color-secondary-suan-juan-blue: #36536b;
	--color-secondary-mirage-blue: #1b262f;
	--color-secondary-charm-pink: #da6d97;
	--color-secondary-light-suan-blue: #6c8294;
	--color-rond-header: #d2dbe3;

	--typography-body-text-size: 15px;
	--typography-body-line-size: 28px;

	--typography-headings-h1-large-text-size: 72px;
	--typography-headings-h1-large-line-size: 72px;

	--typography-headings-h1-small-text-size: 56px;
	--typography-headings-h1-small-line-size: 56px;

	--typography-headings-h2-text-size: 48px;
	--typography-headings-h2-line-size: 56px;

	--typography-headings-h3-big-text-size: 32px;
	--typography-headings-h3-big-line-size: 40px;

	--typography-headings-h3-small-line-size: 18px;
	--typography-headings-h3-small-line-size: 25px;

	--typography-headings-h4-text-size: 24px;
	--typography-headings-h4-line-size: 32px;
}

body {
	background-color: var(--color-backrgound-body);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	width: 100%;
}

header {
	display: flex;
	width: 100%;
	margin-top: 30px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 30px;
}

.header-menu-nav {
	display: none;
	font-family: var(--font-family-red);
}

.btn-schedule {
	display: none;
}

.header-li {
	font-weight: 600;
	color: #36536b;
}

.hero h1 {
	font-family: var(--font-family-dm);
	font-size: 34px;
	font-weight: 700;
}

.contact-hero {
	font-family: var(--font-family-red);
	gap: 10px;
}

.demo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.demo .hero {
	width: 90%;
}

.demo h2 {
	color: var(--color-secondary-suan-juan-blue);
	font-family: var(--font-family-dm);
}

@media screen and (min-width: 767px) {
	nav {
		display: flex;
		align-items: center;
	}

	.header-menu-nav {
		display: flex;
	}

	.logo-site {
		width: 250px;
	}

	.header-menu-nav {
		list-style-type: none;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	}

	.header-li {
		text-decoration: none;
	}

	.btn-schedule {
		display: flex;
	}

	.header-menu-nav a {
		text-decoration: none;
		text-align: center;
	}

	.header-menu-nav a {
		color: var(--color-secondary-mirage-blue);
	}

	.menu-burger {
		display: none;
	}

	.tablet-align {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 60%;
	}
}

@media screen and (min-width: 1023px) {
	.tablet-align {
		width: 50%;
	}

	body {
		display: flex;
		align-items: center;
	}

	header {
		width: 90%;
	}

	nav {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	.header-menu-nav a:hover {
		color: var(--color-secondary-suan-juan-blue);
	}

	.demo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.demo .hero {
		width: 100%;
	}
}
