@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bayon&family=Big+Shoulders+Display:wght@100..900&family=Chango&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=League+Spartan:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bayon&family=Big+Shoulders+Display:wght@100..900&family=Chango&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=League+Spartan:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bayon&family=Big+Shoulders+Display:wght@100..900&family=Chango&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=League+Spartan:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--font-family-red: "Red Hat Text", serif;
	--font-family-dm: "DM Serif Display", serif;

	--color-primary-dark-pink: #ba4270;
	--color-primary-link-water-white: #fbfcfe;
	--color-backrgound-body: #edf3f8;
	--color-secondary-suan-juan-blue: #36536b;
	--color-secondary-mirage-blue: #1b262f;
	--color-secondary-charm-pink: #da6d97;
	--color-secondary-light-suan-blue: #6c8294;
	--color-rond-header: #d2dbe3;

	--typography-body-text-size: 15px;
	--typography-body-line-size: 28px;

	--typography-headings-h1-large-text-size: 72px;
	--typography-headings-h1-large-line-size: 72px;

	--typography-headings-h1-small-text-size: 56px;
	--typography-headings-h1-small-line-size: 56px;

	--typography-headings-h2-text-size: 48px;
	--typography-headings-h2-line-size: 56px;

	--typography-headings-h3-big-text-size: 32px;
	--typography-headings-h3-big-line-size: 40px;

	--typography-headings-h3-small-line-size: 18px;
	--typography-headings-h3-small-line-size: 25px;

	--typography-headings-h4-text-size: 24px;
	--typography-headings-h4-line-size: 32px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

hr {
	width: 90%;
	color: var(--color-secondary-suan-juan-blue);
	opacity: 25%;
}

.full {
	display: flex;
	gap: 50px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
h1 {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
	font-family: var(--font-family-dm);
}

a {
	text-decoration: none;
}

.full h1 {
	color: var(--color-secondary-suan-juan-blue);
	font-size: var(--typography-headings-h2-text-size);
}

.petit h2 {
	color: var(--color-primary-dark-pink);
	font-size: var(--typography-headings-h3-big-text-size);
	font-family: var(--font-family-dm);
}

.text {
	color: var(--color-secondary-light-suan-blue);
	font-family: "Roboto", sans-serif;
	text-align: center;
	font-weight: 400;
}

.petit ul {
	list-style-type: none;
	gap: 10px;
	display: flex;
	flex-direction: column;
}

.petit h3 {
	font-size: var(--typography-headings-h1-large-text-size);
	color: var(--color-secondary-suan-juan-blue);
	font-family: var(--font-family-dm);
}

li {
	display: flex;
	flex-direction: row;
	gap: 10px;
	font-family: var(--font-family-red);
}

.color-diff {
	gap: 10px;
	display: flex;
	flex-direction: column;
	color: var(--color-secondary-light-suan-blue);
}

@media screen and (min-width: 768px) {
	.full {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}
}

@media screen and (min-width: 1023px) {
	.full {
		width: 95%;
	}

	.petit h2 {
		text-align: start;
	}

	.petit h3 {
		text-align: start;
	}

	.text {
		text-align: start;
	}

	ul {
		width: 100%;
	}
	h1 {
		width: 100%;
		text-align: start;
	}
}
