:root {
	--buttons-primary-normal-state: #ba4270;
	--buttons-primary-hover-state: #da6d97;
	--buttons-primary-disabled-state: #dca0b7;

	--buttons-secondary-normal-state-light: #1b262f;
	--buttons-secondary-hover-state-light: #ffffff;
	--buttons-secondary-disabled-state-light: #1b262f;

	--color-secondary-suan-juan-blue: #36536b;
	--border-none-button-text-decoration: none;
}

.btn-schedule-head {
	width: 25%;
}

.schedule {
	width: 100%;
	border-radius: 24px;
	padding: 13px;
	border: var(--border-none-button);
	color: var(--buttons-secondary-hover-state-light);
	background-color: var(--buttons-primary-normal-state);
}

.schedule:hover {
	background-color: var(--buttons-primary-disabled-state);
}

.btn-schedule-head a {
	text-decoration: var(--border-none-button);
}

.btn-hero {
	width: 100%;
	border-radius: 999px;
	padding: 10px;
	border: none;
	text-align: start;
	font-family: "Red Hat Text", serif;
	font-weight: 500;
}

.btn-schedule-hero {
	width: 100%;
	background-color: var(--buttons-primary-normal-state);
	padding: 10px;
	border-radius: 999px;
	border: none;
	text-align: center;
	color: var(--buttons-secondary-hover-state-light);
	font-family: "Red Hat Text", serif;
	font-weight: 500;
}

.parent-bouton {
	width: 100%;
}

.about-btn-partenaire {
	width: 32%;
}

.btn-about-partenaire {
	width: 34%;
	border-radius: 999px;
	padding: 15px;
	border: 1px solid #fbfcfe;
	background-color: transparent;
	color: #fbfcfe;
}

@media screen and (min-width: 1023px) {
	.btn-schedule-head {
		justify-content: end;
	}
	.schedule {
		width: 80%;
	}
}
